#game-page {
}

.game-container {
}

/* Component */
.game-field {

    input {
        position: relative;
        outline: none;
        caret-color: transparent;
        cursor: default;
        font-family: monospace;
        font-size: 40px;
        width: 64px;
        height: 64px;
        border-radius: 5px;
        text-align: center;
        text-transform: uppercase;
        &:focus {
            border: #85470c 3px solid;
            background-color: #ff8807;
        }
    }
    max-width: 224px;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.game-hint {
    color: var(--primary-text);
}

.wrong {
    background: red !important;
}
