@import "rules.css";
@import "rules.css";
@import "game.css";

/* Components */
@import "theme-toggle.css";

:root {
    --primary-bg: white;
    --secondary-bg: gray;
    --primary-text: black;
    --secondary-text: darkgray;
}
.dark-theme {
    --primary-bg: black;
    --secondary-bg: darkgray;
    --primary-text: white;
    --secondary-text: gray;
}

#settings-page {
    background-color: var(--primary-bg);
    .settings-component {
        color: var(--primary-text);
    }

    label:has(input[name="difficulty"]:checked) {
        outline: 1px solid var(--bs-success);
    }
}
