@import "rules.css";
@import "result.css";
@import "game.css";

/* Components */
@import "theme-toggle.css";

:root {
    --primary-bg: white;
    --secondary-bg: gray;
    --primary-text: black;
    --secondary-text: darkgray;
}
.dark-theme {
    --primary-bg: black;
    --secondary-bg: darkgray;
    --primary-text: white;
    --secondary-text: gray;
}

.settings-page {
    background-color: var(--primary-bg);
}

.settings-component {
    color: var(--primary-text);
}

.settings-page input[name="difficulty"] + label {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    background-color: #dadada;
    color: var(--secondary-text);
    cursor: pointer;
}

.settings-page input[name="difficulty"]:checked + label {
    outline: 2px solid var(--bs-success);
}
