
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

:root {
    --primary-bg: white;
    --secondary-bg: gray;
    --primary-text: black;
    --secondary-text: darkgray;
}
.dark-theme {
    --primary-bg: black;
    --secondary-bg: darkgray;
    --primary-text: white;
    --secondary-text: gray;
}
