#rules-page .rules-box {
    max-width: 500px;
    background-color: #f9f9f9;
}

#rules-page h2 {
    font-weight: bold;
    color: #333;
}

#rules-page p,
#rules-page li {
    font-size: 1rem;
    line-height: 1.5;
    color: #444;
}
