.container {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
    font-weight: 400;
    padding-top: 2rem;
    min-width: 200px;
    color: var(--primary-text);
}

.bold {
    font-weight: bold;
}