.themeToggle {
    width: 110px;
    height: 60px;
    border-radius: 30px;
    background: #aaa;
    position: absolute;
    right: 20px;
    top: 20px;

    &:has(input:checked) {
        background-color: #333333;
    }
    input {
        display: none;
    }
    input:checked + .slider {
        left: calc(100% - 5px);
        transform: translate(-100%, -50%);
        background-color: #aaa;
    }
}

.themeToggle img:first-of-type {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.themeToggle img:last-of-type {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.slider {
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    background-color: #333;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}
