.card {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    padding: 40px;
    border-radius: 10px;
    border: 1px solid var(--primary-text);
    margin: auto 0;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.buttonsBlock {
    display: flex;
    justify-content: center;
    gap: 1rem;

    button, a {
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
        padding: 0.5rem 1rem;
        background-color: #00e;
        border: none;
        color: white;
        border-radius: 0.2rem;
    }
}


.lead {
    font-weight: 300;
    font-size: 1.25rem;
}
.bold {
    font-weight: bold;
}